<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--
        Siempre que busquen un elemento dentro de public usen '/public/nombre_del_Archivo'
    -->
        <link rel="stylesheet" href="/public/archivo.js" />
        <title>Archivo de ejemplo</title>
    </head>
    <body>
        <h1>Hello world</h1>
        <br><br>
        <!--Boton para ir a hacer consultas al crud de la lista-->
        <a href="/prueba">Registrar inasistencia</a>
    </body>
</html>
