<%- include('partials/_header'); %>

    <%- include('partials/_navLoged'); %>

    <div class="container mt-4">
        <div class="card tarjeta py-4">
            <div class="row">
                <div class="col-md">
                    <center>
                        <div class="btn-group btn-group-toggle mx-5 my-4" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="options" id="option1" checked>6IV7
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option2">6IV8
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="options" id="option3">6IV9
                            </label>
                        </div>
                    </center>
        
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="ml-5">Código de la clase:</label> <input type="text" class="form-control ml-3">
                        </div>
                    </div>
        
                    <center><p class="h3 mt-5">Tiempo restante</p></center>
        
                    <div class="card mx-5 my-4">
                        <center>
                            <p class="my-3" style="font-size: 100px;">10:00</p>
                        </center>
                    </div>
                </div>

                <!-- Tabla -->
                <div class="col-md mr-3">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Boleta</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col"><input type="button" value="Aceptar todo" class="btn btn-success btn-sm btn-block"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td><input type="button" value="Aceptar" class="btn btn-primary btn-sm px-4 mt-1"> <input type="button" value="Rechazar" class="btn btn-danger btn-sm px-4 mt-1"></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob jacob jacob jacob jacob jacob jacob</td>
                            <td>Thornton</td>
                            <td><input type="button" value="Aceptar" class="btn btn-primary btn-sm px-4 mt-1"> <input type="button" value="Rechazar" class="btn btn-danger btn-sm px-4 mt-1"></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td><input type="button" value="Aceptar" class="btn btn-primary btn-sm px-4 mt-1"> <input type="button" value="Rechazar" class="btn btn-danger btn-sm px-4 mt-1"></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer'); %>