<%- include('partials/_header'); %>

	<%- include('partials/_navLogin'); %>	

	<!-- Login -->
	<div>
		<div class="container mt-5">
			<div class="row">
				<div class="col">
					<div class="card tarjeta">
						<div class="card-body">
							<!-- Formulario-->
							<form class="py-4 px-5">
								<div class="form-row align-items-center mx-md-5 mb-3">
									<div class="col">
											<center><label class="texto-lijero">Ingrese su usuario</label></center>
											<div class="input-group">
										        <div class="input-group-prepend">
										         	<div class="input-group-text"><i class="fas fa-user"></i></div>
										        </div>
										        <input type="text" class="form-control" required>
										    </div>
									</div>
								</div>
								<div class="form-row align-items-center mx-md-5 my-3">
									<div class="col">
											<center><label class="texto-lijero">Ingrese su contraseña</label></center>
											<div class="input-group">
										        <div class="input-group-prepend">
										         	<div class="input-group-text"><i class="fas fa-key"></i></div>
										        </div>
										        <input type="password" class="form-control" required>
										    </div>
									</div>
								</div>
								<div class="form-row align-items-center mx-md-5 my-3">
									<div class="col">
											<center><label class="texto-lijero">Seleccione el tipo de usuario</label></center>
											<div class="input-group">
										        <div class="input-group-prepend">
										         	<div class="input-group-text"><i class="fas fa-users"></i></div>
										        </div>
										        <select class="custom-select" required>
										        	<option>Alumno</option>
										        	<option>Profesor</option>
										        	<option>Administrador</option>
										        </select>
										    </div>
									</div>
								</div>
								<div class="form-row align-items-center mx-5 mt-5 mb-3 d-flex justify-content-center">

									<input type="submit" class="btn btn-primary mx-4 px-5 mt-1" value="Ingresar">
									<input type="button" class="btn btn-outline-primary mx-4 px-5 mt-2" value="Usar firma">
								</div>
								<div class="form-row align-items-center mx-5 my-3 d-flex justify-content-center">
									<a href="#">Recuperar cuenta</a>
								</div>
							</form>
							<!-- Fin formulario-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- fin tarjeta-login-->

<%- include('partials/_footer'); %>