*{
    font-family: Arial;
}

a{
    text-decoration: none;
}

aside{
    color: black;
    border: 0.1vw solid black;
}
.asidMin{
    color: black;
    border: 0.1vw solid black;
}
.title{
    color: black;
    font-size: 2vw;
}
.subtitle{
    color: black;
    font-size: 1.2vw;
}
.space{
    font-size: 0.7vw;	
}
.inputtxt{
    color: black;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
    font-size: 1vw;
}
.inputbutn{
    color: black;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
    font-size: 1vw;
}
.atxt{
    color: black;
    font-size: 1.2vw;
}

aside.white{
    color: white;
    border: 0.1vw solid white;
}
.asidMin.white{
    color: white;
    border: 0.1vw solid white;
}
.title.white{
    color: white;
    font-size: 2vw;
}
.subtitle.white{
    color: white;
    font-size: 1.2vw;
}
.space.white{
    color: white;
    font-size: 0.7vw;	
}
.inputtxt.white{
    color: white;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    font-size: 1vw;
}
.inputbutn.white{
    color: white;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    font-size: 1vw;
}
.atxt.white{
    color: white;
    font-size: 1.2vw;
}