.tarjeta{
	border-radius: 10px;
	box-shadow: 6px 6px 6px #BABABA;
}
.texto-lijero{
	color: #6B6B6B;
	font-size: 20px;
}
.texto-grande{
	font-size: 35px;
}
.texto-mediano{
	font-size: 25px;
}
.texto-pequeno{
	font-size: 5px;
}